body {
    text-align: center;
    background-color: rgb(22, 22, 100);
}
h1 {
    color: rgb(141, 131, 131);
}
.points {
    padding-right: 10px;
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(255, 0, 0);
}
#lives {
    font-weight: bold;
    font-size: 1.25rem;    
}
#lives img{
    max-height: 50px;
}
.modal {
    text-align: center;
    position: fixed;
    z-index: 5;
    background-color: rgb(141, 131, 131);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all .3 ease-in;
}
.modal-is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.modal-content {
    position: absolute;
    width: 100%;
    top: 30%;    
}
.modal p {
    font-weight: 600;
}
.modal-restart {
    padding-left: 10px;
    cursor: pointer;
}
.modal h2 {
    color: rgb(255, 0, 0);
}
.restart {
    color: rgb(22, 22, 100);
}
.char-select {  
    position: absolute;
    width: 30%;           
}
.char-list {
    list-style: none;         
}
.char-select p{
    padding-top: 0;
    margin-top: 0;
    font-size: 2rem;
    color: rgb(141, 131, 131);
}
.sprite {
    max-height: 100px;
    cursor: pointer;
}
.sprite:hover {
    background-color: rgb(36, 36, 240);
}
